[Unit]
Description=Registry service for ACAB P2P Chat
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=<user>
ExecStart=/home/<user>/.nvm/versions/node/v9.11.2/bin/node /home/<user>/db-api/index.js

[Install]
WantedBy=multi-user.target
